#gallery {
    background-color: #28282B ;
    color: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
    h1 {
        padding-bottom: 50px;
        font-weight: bolder;
        
        
    }

    img {
        height: 300px;
        width: 300px;
        padding-bottom: 100px;
    }
}

