#mural {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    h1 {
        padding-bottom: 50px;
    }

    img {
        padding-bottom: 100px;
    }
    
}